<plugin name='filterpane' version='0.1'>
  <author>Steve Krenek</author>
  <authorEmail>steve.krenek@gmail.com</authorEmail>
  <title>Dynamically filter / search domain objects.</title>
  <description>This plugin adds automatic filtering capabilities to any Grails application's list views.
</description>
  <documentation>http://grails.org/Filterpane+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>FilterService</resource>
    <resource>FilterTagLib</resource>
    <resource>FilterUtils</resource>
  </resources>
</plugin>