<plugin name='filterpane' version='2.0.1.2' grailsVersion='2.2.1 &gt; *'>
  <author>Steve Krenek</author>
  <authorEmail>zeddmaxim@gmail.com</authorEmail>
  <title>Dynamically filter / search domain objects.</title>
  <description>This plugin adds automatic filtering capabilities to any Grails application's list views.</description>
  <documentation>http://grails.org/plugin/filterpane</documentation>
  <type>FilterpaneGrailsPlugin</type>
  <resources>
    <resource>org.grails.plugin.filterpane.FilterPaneService</resource>
    <resource>org.grails.plugin.filterpane.FilterPaneTagLib</resource>
    <resource>org.grails.plugin.filterpane.FilterPaneUtils</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>